*.png
.vscode/settings.json
!Gesture_Photos/Eye_spy.png
!Gesture_Photos/smaller_logo_2.png
!Gesture_Photos/C_Hand.png
!Gesture_Photos/Fist.png
!Gesture_Photos/Five_Fingers.png
!Gesture_Photos/Four_Fingers.png
!Gesture_Photos/Okay.png
!Gesture_Photos/One_Finger.png
!Gesture_Photos/Three_Fingers.png
!Gesture_Photos/Thumbs_Down.png
!Gesture_Photos/Thumbs_Up.png
!Gesture_Photos/Two_Fingers.png